
{% extends "base.html" %}
{% block "content" %}
  <style>
    .s { margin-top: 100px; }
    input.subm { opacity: 1; position: static; margin-top: 40px; font-size: 2em; width: auto; padding: 10px 20px;}
    a { color: #447; }
    .proposals {
     width: 800px;
     margin: 200px auto 0;
    }
    h1 { color: #000; }
  </style>

  <p class=proposals>Some suggestions:
    <a href=/Den_arabiske_v%C3%A5ren>Den arabiske våren</a>,
    <a href=/Midt%C3%B8sten-konflikten>Midtøsten-konflikten</a>,
    <a href=/renessansen>renessansen</a>,
    <a href=/middelalderen>middelalderen</a>,
    <a href=/kristendom>kristendom</a>,
    <a href=/F%C3%B8rste_verdenskrig>Første verdenskrig</a>,
    <a href=/Andre_verdenskrig>Andre verdenskrig</a>,
    <a href=/Europa>Europa</a>,
    <a href=/Cuba>Cuba</a>,
    <a href=/Afrika>Afrika</a>,
    <a href=/terror>terror</a>,
    <a href=/Knut_Hamsun>Knut Hamsun</a> or
    <a href=/kirke>kirke</a>.

{% endblock %}
